[Peer]
# {{ inventory_hostname }}
PublicKey = {{ wireguard_public_key.stdout }}
AllowedIPs = {{ wireguard_ipv4 | ansible.utils.nthhost(wireguard_host_index) }}/{{ wireguard_ipv4_netmask }}
AllowedIPs = {{ wireguard_ipv6 | ansible.utils.nthhost(wireguard_host_index) }}/{{ wireguard_ipv6_netmask }}
{% if wireguard_endpoint_host is defined %}
{%   if wireguard_endpoint_host == 'default_ipv4' %}
Endpoint = {{ ansible_default_ipv4.address }}:{{ wireguard_listen_port }}
{%   elif wireguard_endpoint_host == 'default_ipv6' %}
Endpoint = [{{ ansible_default_ipv6.address }}]:{{ wireguard_listen_port }}
{%   elif wireguard_endpoint_host %}
Endpoint = {{ wireguard_endpoint_host }}:{{ wireguard_listen_port }}
{%   endif %}
{% elif ansible_default_ipv4.address | ansible.utils.ipaddr('public') %}
Endpoint = {{ ansible_default_ipv4.address }}:{{ wireguard_listen_port }}
{% elif ansible_default_ipv6.address | ansible.utils.ipaddr('public') %}
Endpoint = [{{ ansible_default_ipv6.address }}]:{{ wireguard_listen_port }}
{% endif %}
